<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/inbox-modal.css}">
    <link rel="stylesheet" th:href="@{/css/settings-modal.css}">
    <script th:src="@{/js/profile.js}"></script>
    <script th:src="@{/js/inbox.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
</head>

<body>

<div id="modalWindow" class="modalWindow"  style="display: none;">
    <div id="question-form">
        <h3>New question</h3>

        <form th:action="@{/add}" method="post">
            <input type="hidden" name="userName" th:value="${user.username}" />

            <textarea id="questionInput" name="text" placeholder="Ask me a question" required></textarea>

            <div class="ask-actions">
                <button type="submit" class="btn-submit">Send</button>
                <button type="button" class="btn-cancel" onclick="toggleAskForm()">Cancel</button>
            </div>
        </form>
    </div>

    <!--Inbox questions window start -->
</div>
<div id="inboxModalWindow" class="modalWindow-inbox" style="display: none;">
    <div id="inbox-form">
        <div class="inbox-header">
            <h2>📬 Unanswered Questions</h2>
        </div>

        <div class="inbox-content">
            <div id="inboxQuestionsList" class="questions-list">
                <div th:each="InboxAnswerItem : ${unanswered}" class="question-item">
                    <p class="question-text" th:text="${InboxAnswerItem.content}">Question text</p>
                    <div class="question-actions">
                        <button type="button" class="btn-answer" th:onclick="|openInboxAnswerForm('${InboxAnswerItem.id()}')|">Answer</button>

                        <button type="button" class="btn-delete" th:data-id="${InboxAnswerItem.id()}">Delete</button>
                    </div>
                </div>

                <p th:if="${#lists.isEmpty(unanswered)}">No questions yet.</p>
            </div>

            <div id="answerSection" class="answer-section-wrapper" style="display: none;">
                <div class="answer-section">
                    <h3>✍ Area for your answer</h3>

                    <input type="hidden" id="currentQuestionId" value="">

                    <textarea id="answerText" class="answer-textarea" placeholder="Type your answer here..."></textarea>
                    <div class="answer-actions">
                        <button class="btn-cancel-answer" onclick="cancelAnswer()">Cancel</button>
                        <button class="btn-submit-answer" onclick="submitAnswer()">Send answer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Inbox modal window end -->


<!--Header start -->

<div class="header-section">
    <div class="profile-card">
        <h1 id="user-name" th:text="${user != null ? user?.username()
         : 'User not found'}">username</h1>
        <p id="user-bio" th:text="${user?.bio}">User's bio will be here</p>
    </div>
    <div class="main-buttons">
        <div sec:authorize="isAuthenticated()">
            <div th:if="${#authentication?.name == user?.username}">
                <button class="btn-main"onclick="openInboxModal()">Inbox</button>
                <button sec:authorize="hasRole('ROLE_USER')"  class="btn-settings">⚙</button>
            </div>
        </div>
        <div th:if="${#authentication?.name != user?.username}">
            <button class="btn-main" onclick="toggleAskForm()">You have a question?</button>
            <a  id="register-button" th:href="@{/register.html}" > Sign up </a>
        </div>
    </div>
</div>

<!--Header end -->

<div class="main-content">
    <div class="posts-section">
        <div th:if="${posts == null or posts.empty}" style="text-align: center; padding: 20px;">
            <p>No questions yet...</p>
        </div>

        <div th:each="post : ${posts}" class="post-item">
            <div class="post-question" th:text="${post.question}">Question text</div>
            <div th:if="${post.answer != null}">
                <div class="inner-divider"></div>
                <div class="post-answer" th:text="${post.answer}">Response</div>
                <div class="creation-time" th:text="${post.createdAt}"> Time of creation</div>
                <div th:if="${#authentication?.name == user?.username}" class="post-menu-container">
                    <button sec:authorize="hasRole('ROLE_USER')" class="btn-post-options">...</button>
                    <div id="post-options-dropdown" class="post-options-dropdown">
                        <button type="button" class="btn-post-delete" data-value="tech" th:data-id="${post.id}">
                            Delete
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<dialog id="settingsWindow">
    <h2>Settings</h2>
    <div class="options">
        <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
            </form>
    </div>
    <button type="submit" id="closeBtn" class="close-btn">Close</button>
</dialog>

</body>
</html>